.header {
  margin: 45px 200px 40px;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 45px 50px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 28px 0 42px;
    
  }
}