.popup__window {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 470px) {
  .popup__window {
    width: 282px;
    height: 322px;
  }
}