.popup__button-close {
  position: absolute;
  right: -60px;
  font-size: 92px;
  top: -80px;
  color: white;
  transform: rotate(45deg);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-close {
    right: -10px;
    font-size: 62px;
    top: -75px;
  }
}