.card__like {
  background: url(../../../img/like.svg) no-repeat;
  background-position: center;
  background-color: none;
  border: none;
  width: 22px;
  height: 19px;
  outline: none;
}

.card__like:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

